git+https://github.com/pyrogram/pyrogram@master
tgcrypto
py-tgcalls==0.5.5
python-dotenv
youtube-search-python
requests
aiohttp
aiofiles
asyncio
youtube-search
search-engine-parser
ffmpeg-python
pillow==8.4.0
future
psutil
wget
motor
dnspython
yt-dlp
httpx==0.23.0
heroku3
gitpython
